body, button, input, option, select, textarea {
    font-family: 'Helvetica Neue', Helvetica, Arial, 'Liberation Sans', Roboto, Noto, sans-serif;
    font-size: 10pt;
}

.alertstatuserror {
    background-color: #fdd;
    color: #700;
}

.alertstatussuccess {
    background-color: #efe;
    color: #060;
}

.alertstatuswarn {
    background-color: #eea;
    color: #990;
}

.initstages > div {
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}

.initstages > div > button.stage {
    display: inline-block;
    width: 13em;
}

.initstages > div > label {
    display: inline-block;
    min-width: 6.5em;
}

.initstages > div > label + input {
    margin-left: 1pt;
}

.initstages .spacer {
    display: inline-block;
    visibility: hidden;
    width: 13em;
}

.scopeorlibrarybrancharea {
    margin-left: 1em;
}
